{% extends 'base.html' %}
{% block title %} Checkout  {% endblock %}
{% block head %}

{% endblock %}

{% block body %}

<div class="container ml-3">
	<div class="row">
		<div class="col-9">
			<div class="row">
				<form action="" method="post">
					{% csrf_token %}
					<table>
						{{ form.as_table }}
					</table>
					<button class="btn btn-dark">Proceed to checkout   </button>

				</form>
			</div>
		</div>
		<div class="col-3">
			<div class="row">
				<p><b>Item : {{item.name}}<br>
				MRP : {{item.MRP}}<br>
				Shipping Cost : {{item.Shipping}}<br>
				Total Cost : {{item.Total}}</b></p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
